<!-- end contact section -->
<div class="footer_bg">
    <!-- info section -->
    <section class="info_section layout_padding2-bottom">
        <div class="container">
            <h3 class="">
                DevSolutions
            </h3>
        </div>
        <div class="container info_content">

            <div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="d-flex">
                            <h5>
                                Useful Link
                            </h5>
                        </div>
                        <div class="d-flex ">
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/aboutUs">About Us</a>
                                </li>
                                <li>
                                    <a href="/services">Services</a>
                                </li>
                                <li>
                                    <a href="/contactUs">Contact Us</a>
                                </li>
                                <li>
                                    <a href="">FAQ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="d-flex">
                            <h5>
                                The Services
                            </h5>
                        </div>
                        <div class="d-flex ">
                            <ul>
                                <li>
                                    <a href="/services">Fully Functional Website</a>
                                </li>
                                <li>
                                    <a href="/services">Website templates</a>
                                </li>
                                <li>
                                    <a href="/services">APIs and web Serivces</a>
                                </li>
                                <li>
                                    <a href="/services">Web Maintance</a>
                                </li>
                                <li>
                                    <a href="/services">Web domains</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="d-flex">
                            <h5>
                                Contact Us
                            </h5>
                        </div>
                        <div class="d-flex ">
                            <ul>
                                <li>
                                    <a href="">Contact a Manager</a>
                                </li>
                                <li>
                                    <a href="/contactUs">Contact For Issue</a>
                                </li>
                                <li>
                                    <a href="/contactUs">Share your Feedback</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
                <div class="social-box">
                    <a href="">
                        <img src="images/fb.png" alt="" />
                    </a>

                    <a href="">
                        <img src="images/twitter.png" alt="" />
                    </a>
                    <a href="">
                        <img src="images/linkedin1.png" alt="" />
                    </a>
                    <a href="">
                        <img src="images/instagram1.png" alt="" />
                    </a>
                </div>
                <div class="form_container mt-5">
                    <form action="">
                        <label for="subscribeMail">Newsletter</label>
                        <input type="email" placeholder="Enter Your email" id="subscribeMail" />
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>

    </section>

    <!-- end info_section -->

    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            © 2022 All Rights Reserved By
            <a href="">DevSolutions</a>
        </p>
    </section>
    <!-- footer section -->
</div>


<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>



</body>

</html>