<%- include('includes/head.ejs') %>

    <body class="sub_page">
        <div class="hero_area">
            <!-- header section strats -->
            <%- include('includes/nav.ejs') %>
                <!-- end header section -->
        </div>

        <!-- welcome section -->
        <section class="welcome_section layout_padding">
            <div class="container">
                <div class="custom_heading-container">
                    <h2>
                        Welcome To Our Company
                    </h2>
                </div>
                <div class="layout_padding2">
                    <div class="img-box">
                        <img src="images/welcome.png" alt="Welcome Image" />
                    </div>
                    <div class="detail-box">
                        <p>
                        We are a software development agency headquartered in Alexandria, Egypt. Our goal is to always create exceptional
                        software solutions for our
                        clients. Our Number one piriority is to deliver the needed product within 7 days with the best price and highest
                        quality.
                        </p>
                        <!-- <div>
                            <a href="">Read More</a>
                        </div> -->
                    </div>
                </div>

            </div>
        </section>
        <!-- end welcome section -->

        <%- include('includes/end.ejs') %>