<%- include('includes/head.ejs') %>

    <body>
        <div class="hero_area">
            <!-- header section strats -->
            <%- include('includes/nav.ejs') %>
                <!-- end header section -->
                <!-- slider section -->
                <section class=" slider_section ">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6">
                                            <div class="slider_detail-box">
                                                <h1>
                                                    Start your<br/> Online Business <br/> with Our Company
                                                </h1>
                                                <p>
                                                    Do you want to accelerating your business through innovative IT Solutions ? We will create exceptional software solutions for for what you need within the least time and best price.
                                                </p>
                                                <div class="btn-box">
                                                    <a href="/services" class="btn-1">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="slider_img-box">
                                                <img src="images/slider-img.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6">
                                            <div class="slider_detail-box">
                                                <h1>
                                                    Choose your <br/>Website Template<br/> upon your Needs
                                                </h1>
                                                <p>
                                                    Choose from various website templates that suits your needs with your preferred style and the ability to customize what you want to fit what you need.
                                                </p>
                                                <div class="btn-box">
                                                    <a href="/services" class="btn-1">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="slider_img-box">
                                                <img src="images/slider-img2.png" style="padding-left: 10%;" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6">
                                            <div class="slider_detail-box">
                                                <h1>
                                                    APIs and Websites<br/>Templates to be done<br/> in few days
                                                </h1>
                                                <p>
                                                    We have full stack development capabilities. Whether a simple one page website, E-commerce websit or a completely custom web app, we have the needed extensive experience to satisfy your requirments.
                                                </p>
                                                <div class="btn-box">
                                                    <a href="/services" class="btn-1">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="slider_img-box">
                                                <img src="images/slider-img3.png" style="padding-left: 15%;width: 700; height: 450;" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel_btn-container">
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </section>
                <!-- end slider section -->
        </div>

        <!-- welcome section -->
        <section class="welcome_section layout_padding">
            <div class="container">
                <div class="custom_heading-container">
                    <h2>
                        Welcome To Our Company
                    </h2>
                </div>
                <div class="layout_padding2">
                    <div class="img-box">
                        <img src="images/welcome.png" alt="" />
                    </div>
                    <div class="detail-box">
                        <p>
                            We are a software development agency headquartered in Alexandria, Egypt. Our goal is to always create exceptional software solutions for our clients. Our Number one piriority is to deliver the needed product within 7 days with the best price and highest
                            quality.
                        </p>
                        <div>
                            <a href="/aboutUs">Read More</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- end welcome section -->

        <!-- service section -->

        <section class="service_section">
            <div class="container">
                <div class="custom_heading-container">
                    <h2>
                        Our Services
                    </h2>
                </div>
                <div class="service_container layout_padding2">
                    <div class="service_box">
                        <div class="img-box">
                            <img src="images/service1.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h4>
                                Fully functional <br/> Websites
                            </h4>
                            <p>
                                full stack development capabilities to fit all your requirements.
                            </p>
                        </div>
                    </div>
                    <div class="service_box">
                        <div class="img-box">
                            <img src="images/service2.jpg" alt="" />
                        </div>
                        <div class="detail-box">
                            <h4>
                                Websites <br/> Templates
                            </h4>
                            <p>
                                Choose from hundreds of templates from our portfolio designed by our creative designers front-end developers.
                            </p>
                        </div>
                    </div>
                    <div class="service_box">
                        <div class="img-box">
                            <img src="images/service3.jpg" alt="" />
                        </div>
                        <div class="detail-box">
                            <h4>
                                Website <br/> Functionalities
                            </h4>
                            <p>
                                If you already have a website thats needs to be fixed or updated with new functionalities we can help you maintain it upon your specifications.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="/services">More Services</a>
                </div>
            </div>
        </section>

        <!-- end service section -->
        <!--problem section -->
        <section class="problem_section layout_padding">
            <div class="container">
                <div class="custom_heading-container">
                    <h2>
                        Do you have any business problem?
                    </h2>
                </div>
                <div class="layout_padding2">
                    <div class="img-box">
                        <img src="images/problem.jpg" alt="" />
                    </div>
                    <div class="detail-box">
                        <p>
                            Whether you are looking for a custom software solution, need an experienced integrator to create a connected software ecosystem or want to extend your existing squad with a cross functional development team, we are the right partner.
                        </p>
                        <div>
                            <a href="/contactUs">Contact Us</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- end problem section -->
        <!-- why section -->

        <section class="why_section layout_padding">
            <div class="container">
                <div class="custom_heading-container">
                    <h2>
                        Why Choose Us
                    </h2>
                </div>
                <div class="content-container">
                    <p>
                        We have a professional Team which will make sure your project is delivered within 7 days with the best price and highest quality.
                    </p>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="img-box">
                                <img src="images/smiley.png" alt="" />
                            </div>
                            <div class="detail-box">
                                <h3>
                                    99%
                                </h3>
                                <h6>
                                    SATISFIED CLIENTS
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="img-box">
                                <img src="images/monitor.png" alt="" />
                            </div>
                            <div class="detail-box">
                                <h3>
                                    100+
                                </h3>
                                <h6>
                                    AWESOME planing
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="img-box">
                                <img src="images/multiple-users-silhouette.png" alt="" />
                            </div>
                            <div class="detail-box">
                                <h3>
                                    100+
                                </h3>
                                <h6>
                                    CLIENTS
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="img-box">
                                <img src="images/bar-chart.png" alt="" />
                            </div>
                            <div class="detail-box">
                                <h3>
                                    1000+
                                </h3>
                                <h6>
                                    DAILY business
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- end why section -->

        <!-- client section -->
        <section class="client_section layout_padding">
            <div class="container">
                <h2>
                    What Our Clients Says
                </h2>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="client_container layout_padding2">
                                <div class="client_text">
                                    <p>
                                        At first i thought they won't make me the work as they said in 1 week everything would be completed and i said no way, but they surprised me when they sent me an email after day 6 that the wark was already done and ready to be launched.
                                    </p>
                                </div>
                                <div class="detail-box">
                                    <div class="name">
                                        <h5>
                                            Carla David
                                        </h5>
                                        <p>
                                            California
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="client_container layout_padding2">
                                <div class="client_text">
                                    <p>
                                        The interaction was easy and i asked to remove one functionality and add another one, and they said sure but we will take 1 more day to complete it as it wasn't one of the requirements at the beginning, but they emailed me on day 7 as my project was already
                                        finished.
                                    </p>
                                </div>
                                <div class="detail-box">
                                    <div class="name">
                                        <h5>
                                            Martin Mark
                                        </h5>
                                        <p>
                                            Ohio
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="client_container layout_padding2">
                                <div class="client_text">
                                    <p>
                                        I was hesitated to contact them to make me my website but i sent them in the contact us form and they responded as an email after 1 day and the CEO scheduled a meeting with me and he took all my requirements and no deposit was needed just i signed a electronic
                                        contract and I paid after i recieved all the website working.
                                    </p>
                                </div>
                                <div class="detail-box">
                                    <div class="name">
                                        <h5>
                                            Michale veazquez
                                        </h5>
                                        <p>
                                            California
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </section>
        <!-- end client section -->
        <!-- contact section -->
        <section class="contact_section layout_padding">
            <div class="container contact_heading">
                <h2>
                    Contact Us
                </h2>
                <p>
                    Are you ready to boost your buisness forward? Do you have any questions or maybe just want to say hi?
                </p>
            </div>
            <div class="container">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName4">Name</label>
                            <input type="text" class="form-control" id="inputName4" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" />
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputNumber4">Phone number</label>
                            <input type="tel" class="form-control" id="inputNumber4" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">Select Service</label>
                            <select id="inputState" class="form-control">
              <option selected=""></option>
              <option>...</option>
            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputMessage">Message</label>
                        <input type="text" class="form-control" id="inputMessage" placeholder="" />
                    </div>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="">Send</button>
            </div>
            </form>

        </section>

        <%- include('includes/end.ejs') %>