<%- include('includes/head.ejs') %>

    <body class="sub_page">
        <div class="hero_area">
            <!-- header section strats -->
            <%- include('includes/nav.ejs') %>
                <!-- end header section -->
        </div>

        <!-- welcome section -->
        <section class="register_section">
            <div class="register_main">
                <input type="checkbox" id="chk" aria-hidden="true">

                <div class="login">
                    <form>
                        <label class='register' for="chk" aria-hidden="true">LOGIN</label>
                        <input class='register' type="email" name="email" placeholder="Email" required="">
                        <input class='register' type="password" name="pswd" placeholder="Password" required="">
                        <button class='register'>Login</button>
                    </form>

                    <a href=""> Forgot Password ?</a>
                </div>

                <div class="signup">
                    <form>
                        <label class='register' for="chk" aria-hidden="true">SIGN UP</label>
                        <input class='register' type="text" name="txt" placeholder="User name" required="">
                        <input class='register' type="email" name="email" placeholder="Email" required="">
                        <input class='register' type="password" name="pswd" placeholder="Password" required="">
                        <button class='register'>Sign Up</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- end welcome section -->

        <%- include('includes/end.ejs') %>