<%- include('includes/head.ejs') %>

    <body class="sub_page">
        <div class="hero_area">
            <!-- header section strats -->
            <%- include('includes/nav.ejs') %>
                <!-- end header section -->
        </div>

        <!-- service section -->

        <section class="service_section">
            <div class="container">
                <div class="custom_heading-container">
                    <h2>
                        Our Services
                    </h2>
                </div>
                <div class="service_container layout_padding2">
                    <div class="service_box">
                        <div class="img-box">
                            <img src="images/service1.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h4>
                                Fully functional <br/> Websites
                            </h4>
                            <p>
                                full stack development capabilities to fit all your requirements.
                            </p>
                        </div>
                    </div>
                    <div class="service_box">
                        <div class="img-box">
                            <img src="images/service2.jpg" alt="" />
                        </div>
                        <div class="detail-box">
                            <h4>
                                Websites <br/> Templates
                            </h4>
                            <p>
                                Choose from hundreds of templates from our portfolio designed by our creative designers front-end developers.
                            </p>
                        </div>
                    </div>
                    <div class="service_box">
                        <div class="img-box">
                            <img src="images/service3.jpg" alt="" />
                        </div>
                        <div class="detail-box">
                            <h4>
                                Website <br/> Functionalities
                            </h4>
                            <p>
                                f you already have a website thats needs to be fixed or updated with new functionalities we can help you maintain it
                                upon your specifications.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <div>
                    <a href="">
        Read More
      </a>
                </div> -->
            </div>
        </section>

        <!-- end service section -->
        <%- include('includes/end.ejs') %>